<div ng-controller = "lectureController">
  <ol class="breadcrumb">
    <li><a href="#" class = "breadtrail">Subjects</a></li>
    <li><a href="#" class = "breadtrail">Lectures</a></li>
    <button type="button" class="btn btn-success">Enroll</button>
  </ol>

  <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li class = "has-subnav">
          <a href="#subjects">
            <i class="fa fa-home fa-3x"></i>
            <span class="nav-text">Subjects</span>
          </a>        
        </li>
        <li class="has-subnav">
          <a href="#mycourses">
            <i class="fa fa-laptop fa-3x"></i>
            <span class="nav-text">My Courses</span>
          </a>  
        </li>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-list fa-3x"></i>
            <span class="nav-text">User</span>
          </a>  
        </li>
         <li class="has-subnav">
          <a href="#">
            <i class="fa fa-copyright fa-3x"></i>
            <span class="nav-text">PuStack</span>
          </a>  
        </li> 
      </ul>
    </nav>

  <div class="container" id = "lecturecont">
    <div class="row">

      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Divyam Gupta</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">The Rise of Nationalism in Europe</a></h2>
                <p>This chapter takes the readers on a historic journey exploring the French Revolution, unification of Germany, rise of Imperialism and much more.</p>
              </article>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                 <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Web Design</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
              </article>
            
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Web Design</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
              </article>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                 <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Web Design</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
              </article>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                 <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Web Design</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
              </article>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>