<div ng-controller = "lectureController">
  <ol class="breadcrumb">
    <li><a href="#" class = "breadtrail">Subjects</a></li>
    <li><a href="#" class = "breadtrail">Lectures</a></li>
    <button type="button" class="btn btn-success">Enroll</button>
  </ol>

  <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li class = "has-subnav">
          <a href="#subjects">
            <i class="fa fa-home fa-3x"></i>
            <span class="nav-text">Subjects</span>
          </a>        
        </li>
        <li class="has-subnav">
          <a href="#mycourses">
            <i class="fa fa-laptop fa-3x"></i>
            <span class="nav-text">My Courses</span>
          </a>  
        </li>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-list fa-3x"></i>
            <span class="nav-text">User</span>
          </a>  
        </li>
         <li class="has-subnav">
          <a href="#">
            <i class="fa fa-copyright fa-3x"></i>
            <span class="nav-text">PuStack</span>
          </a>  
        </li> 
      </ul>
    </nav>

  <div class="container" id = "lecturecont">
    <div class="row">
      <div class="col-sm-4" ng-repeat="lecture in lectures.lectureList">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="{{lecture.imageURL}}" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                <a id="share" class=" share-icon" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">{{lecture.author}}</a>
              </div>

              <article class="card__article">
                <h2><a href="#">{{lecture.name}}</a></h2>
                <p>
                  <span style = "font-size:15px;" class = "descrip">{{lecture.description}}</span>
                  <span><a style = "font-size:15px; color: #388DB0;" href = "#">Read More</a></span>
                </p>
              </article>

            </div>
          </div>
        </div>
      </div>


    </div>
  
</div>
