<div ng-controller = "subjectController">
	
    <h2 class = "coursehead"> Subjects </h2>

	<nav class="main-menu">
		<ul>
			<li>
				<a href="#">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">Subjects</span>
				</a>      
			</li>

			<li class="has-subnav">
				<a href="#">
					<i class="fa fa-laptop fa-2x"></i>
					<span class="nav-text">My Courses</span>
				</a>       
			</li>

			<li class="has-subnav">
				<a href="#">
					<i class="fa fa-list fa-2x"></i>
					<span class="nav-text">User</span>
				</a>
			</li>		
		</ul>
	</nav>

    <div class="coursecat">
        <h4>9th Standard</h4>
    </div>
	
    <div class="carousel">

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

    </div>

    <div class="coursecat">
        <h4>10th Standard</h4>
    </div>
    
    <div class="carousel">

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

    </div>

    <div class="coursecat">
        <h4>11th Standard</h4>
    </div>
    
    <div class="carousel">

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

    </div>

    <div class="coursecat">
        <h4>12th Standard</h4>
    </div>
    
    <div class="carousel">

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card radius shadowDepth1">

                <div class="card__image border-tlr-radius">
                    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">

                    <div class="card__share">
                        <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>

                    <div class="card__meta">
                        <a href="#">Web Design</a>
                        <time>17th March</time>
                    </div>

                    <article class="card__article">
                        <h2><a href="#videos">Material Design Card - For Blog Post Article</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                    </article>
                </div>
            </div>
        </div>

    </div>
    
    <script type="text/javascript" src="./lib/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').slick({
                slidesToShow: 3,
                arrow: true,
                responsive: [{
                    breakpoint: 850,
                    settings: {
                        arrows: true,
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 500,
                    settings: {
                        arrows: true,
                        slidesToShow: 1
                    }
                }]
            });
        });
    </script>


</div>