<div ng-controller = "subjectController">
 
<div class="area"></div>
  <nav class="main-menu">
   <ul>
     <li>
       <a href="#">
           <i class="fa fa-home fa-2x"></i>
             <span class="nav-text">
                Subjects
             </span>
        </a>
                  
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-laptop fa-2x"></i>
          <span class="nav-text">
            My Courses
              </span>
         </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                           User
                        </span>
                    </a>
                    
                </li>
            </ul>
        </nav>
</div>

