<div ng-controller="videosController">
	<ol class="breadcrumb">
    <li><a href="#" class = "breadtrail">History</a></li>
  	<li><a href="#" class = "breadtrail">Chapter 1</a></li>
  </ol>

  <!--<div class="area"></div>-->
  <nav class="main-menu">
        <ul>

           <li class = "vidlogo">
                <a href>
                    <i><img src="../media/logo.png"></i>
                </a>      
            </li> 
            <li class = "vidsub">
                <a href="#subjects">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">Subjects</span>
                </a>      
            </li>

            <li class="vidcourse">
                <a href="#mycourses">
                    <i class="fa fa-bookmark fa-2x"></i>
                    <span class="nav-text">My Courses</span>
                </a>       
            </li>

            <li class="viduser">
                <a href>
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">User</span>
                </a>
            </li>

             <li class="vidlog">
                <a href="#/">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="nav-text">Log Out</span>
                </a>
            </li>

            <li class="vidcopy">
                <a href="#">
                    <i class="fa fa-copyright fa-2x"></i>
                    <span class="nav-text">PuStack</span>
                </a>
            </li>

        </ul>
    </nav>

  <div class="videoMenu">
    <span><button class="fa fa-bars fa-2x" aria-hidden="true"></button></span>
  </div>

  <div id="lecturemenu">
    <ul class="cd-accordion-menu animated">

      <li class="has-children">
        <input type="checkbox" name="group-1" id="group-1">
        <label for="group-1">Chapter 1</label>

          <ul>
            <li><a href="#videos">Lecture 1</a></li>
            <li><a href="#videos1">Lecture 2</a></li>
            <li><a href="#videos2">Lecture 3</a></li>
          </ul>
      </li>

      <li class="has-children">
        <input type="checkbox" name="group-2" id="group-2">
        <label for="group-2">Chapter 2</label>

          <ul>
            <li><a href="#videos">Lecture 1</a></li>
            <li><a href="#videos">Lecture 2</a></li>
          </ul>
      </li>

      <li class="has-children">
        <input type="checkbox" name="group-3" id="group-3">
        <label for="group-3">Chapter 3</label>

          <ul>
            <li><a href="#videos">Lecture 1</a></li>
          </ul>
      </li>
    </ul>
  </div>

  <div class="holdvid">
    <iframe class="divyam" src="https://www.youtube.com/embed/yeuGVgD8abg"></iframe>
  </div>

  <div class="vibut">
    <a href="#videos1"><button type="button" class="btn btn-primary">Previous</button></a>
  </div>

  <script type="text/javascript">
    $(document).ready( function() {
      $('.videoMenu').click(function(){
        $('#lecturemenu').toggle();
      });
    });
  </script>
</div> 